# Rust / Cargo
rust/target/
rust/Cargo.lock

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/

# Android
android/.gradle/
android/app/build/
android/build/
android/captures/
android/gradle/wrapper/gradle-wrapper.jar

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# macOS
macos/
/DerivedData/

# Windows
win/
.idea/

/.old
/assets/sample

# Isar test library (copied for flutter test)
libisar.dylib

/.cursor

# Secrets
.env
*.env